/***** ownCloud plugin styles *****/

#taskbar a.button-rcmail_ttrss span.button-inner
{
  background: url(rcmail_ttrss.png) 5px 5px no-repeat;
  height: 14px;
}

#taskbar a.button-rcmail_ttrss:hover span.button-inner,                                                                                                                      
#taskbar a.button-rcmail_ttrss.button-selected span.button-inner
{
  background: url(rcmail_ttrss.png) 5px -16px no-repeat;
  height: 14px;
}